* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}

/* Common CSS */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn1 {
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    background-color: #F1F1F3;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.4s ease;
}

.btn2 {
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.4s ease;
}

/* Header */
.header_section {
    margin: 24px 0;
}

.header_section .nav_bar .nav_logo {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

.header_section .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_section .nav_bar a {
    text-decoration: none;
}

.header_section .nav_bar .btn1:hover {
    background-color: #006A50;
    color: #ffff;
}

/* Hero Section */

.hero_section .hero_content {
    display: flex;
    padding: 80px 100px;
    align-items: center;
    justify-content: center;
    gap: 64px;
    border-radius: 24px;
    background: #C6E4D6;
}

.hero_section .subtitle {
    color: rgba(14, 14, 14, 0.50);
    font-size: 24px;
    font-weight: 500;
    align-self: stretch;
    margin-bottom: 16px;

}

.hero_section .title {
    width: 622px;
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero_section .btn2:hover {
    background: #004e2c;
}

/* Vision Section */

.vision_section {
    margin-top: 80px;
}

.vision_section .vision_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.vision_section .vision_heading h1 {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.vision_section .vision_heading p {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    /* margin-bottom: 32px; */
}

.vision_section .card {
    display: flex;
    align-items: center;
    gap: 24px;
}

.vision_section .card h3 {
    color: #0e0e0ecc;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.vision_section .card p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

/* card 1 */
.vision_section .card .card_1 {
    border-radius: 16px;
    border: 0px solid #5490F5;
    background: #5490f533;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.vision_section .card_1:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.vision_section .card .card_1 .btn {
    padding: 11px 20px;
    border-radius: 8px;
    background: #5490F5;
    border: none;
    color: #FFF;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.vision_section .card .card_1 .btn:hover {
    background-color: #2558b0;
}

/* card 2 */
.vision_section .card .card_2 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex: 1 0 0;
    align-self: stretch;
    gap: 24px;
    border-radius: 16px;
    border: 0px solid #09A15C;
    background: #C6E4D6;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.vision_section .card_2:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.vision_section .card .card_2 .btn {
    padding: 11px 20px;
    margin-top: 48px;
    border-radius: 8px;
    background: #09A15C;
    border: none;
    color: #FFF;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.vision_section .card .card_2 .btn:hover {
    background-color: #056b3d;
}

/* card 3 */
.vision_section .card .card_3 {
    display: flex;
    padding: 24px;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    gap: 24px;
    border-radius: 16px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.vision_section .card_3:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.vision_section .card .card_3 .btn {
    padding: 11px 20px;
    margin-top: 31px;
    border-radius: 8px;
    background: #FFC239;
    border: none;
    color: #FFF;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.vision_section .card .card_3 .btn:hover {
    background-color: #c99315;
}

.vision_section .vision_quotes {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    padding: 48px 24px;
    background-image: url(../img/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 24px;
}

.vision_section .vision_quotes p {
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.vision_section .vision_quotes h3 {
    color: rgba(14, 14, 14, 0.80);
    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
    margin-bottom: 4px;
}

.vision_section .vision_quotes .color {
    color: rgba(14, 14, 14, 0.60);
    margin-bottom: 0;
}

/* News Section */
.news_section {
    margin-top: 80px;
}

.news_section h1 {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

.news_section p {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-top: 24px;
    margin-bottom: 32px;
}

.news_section .news_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news_section .news_content {
    background-color: #ffffff;
    border-radius: 24px;
}

.news_section .news_card {
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 32px;
}

.news_section .news_card .satelite_img {
    border-radius: 24px;
    overflow: hidden;
}

.news_section .news_card .news_body h2 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 32px;
    font-weight: 700;
}

.news_section .news_card .news_body img {
    margin-top: 12px;
}

.news_section .news_card .news_body p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-top: 12px;
    margin-bottom: 0px;
}

.news_section .news_card .news_body .btn {
    border-radius: 8px;
    background: #006A50;
    padding: 13px 26px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 32px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.news_section .news_card .news_body .btn:hover {
    background-color: #004534;
}

/* Donation Section */

.donation_section {
    margin-top: 80px;
}

.donation_section .donation_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.donation_section .donation_content .btn {
    padding: 17px 34px;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.10);
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.donation_section .donation_heading h1 {
    color: #0E0E0E;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.donation_section .donation_heading p {
    color: #0e0e0eb3;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.donation_section .donation_amounts {
    display: flex;
    gap: 24px;
}

.donation_section .donation_amounts .amount_card {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    padding: 40px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.donation_section .donation_amounts .amount_card:hover {
    background: #C6E4D6;
}

.donation_section .donation_amounts .amount_card h1 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 40px;
    font-weight: 700;
}

.donation_section .donation_input input {
    background: #FFF;
    width: 1032px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    /* Optional: use for better view */
}

.donation_section .donation_input input[type="text"] {
    text-align: center;
    color: #0e0e0e4d;
    font-size: 20px;
    font-weight: 400;
}

/* Newsletter Section */

.newsletter_section {
    margin-top: 80px;
}

.newsletter_section .newsletter_content {
    padding: 80px 100px;
    border-radius: 24px;
    background: #C6E4D6;
}

.newsletter_section .newsletter_content h1 {
    color: #0E0E0E;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.newsletter_section .newsletter_content p {
    color: #0e0e0eb3;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.newsletter_section .newsletter_content form {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter_section .newsletter_content form input {
    border-radius: 8px 0px 0px 8px;
    background: #FFF;
    width: 600px;
    padding: 18px 40px;
    border: none;
}

.newsletter_section .newsletter_content form input::placeholder {
    color: #0e0e0e4d;
    font-size: 16px;
    font-weight: 400;
}

.newsletter_section .newsletter_content form button {
    padding: 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: #006A50;
    color: #FFF;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.newsletter_section .newsletter_content form button:hover {
    background-color: #014f3b;
}

/* Footer Section */

.footer_section {
    margin-top: 80px;
    background-color: #ffff;
    padding: 50px 320px;
}


.footer_section h3 {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.footer_section a {
    text-decoration: none;
    cursor: pointer;
}

.footer_section hr {
    width: 1122px;
    margin: 32px auto; 
    border: 1px solid #0e0e0e1a;  
}

.footer_section ul {
    display: flex;
    gap: 23px;
    list-style: none;
    justify-content: center;
    align-items: center; 
}